.paradeiser {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: $paradeiser-height;
  background: $paradeiser-background;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.02), 0 2px 10px 0 rgba(0,0,0,0.10);

  backdrop-filter: blur(10px) saturate(100%);

  @media (max-width: $paradeiser-visible-until) {
    display: flex;
  }

  a, > span {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: $paradeiser-link-color;
    text-align: center;
    text-decoration: none;
    font-weight: $paradeiser-font-weight;
    font-size: $paradeiser-link-font-size;
    font-family: $paradeiser-font-family;
    cursor: pointer;

    align-items: center;
    flex-grow: 5;
    justify-content: center;

    &.active, &:hover {
      background: $paradeiser-link-color-active;
    }
  }

  .paradeiser_icon_canvas {
    display: block;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 20px;

    align-items: center;
    justify-content: center;
    img {
      display: block;
      margin: 0 auto;
      max-width: 20px;
      width: 100%;
      height: auto;
    }
  }

  span {
    margin-top: 5px;
    &.dropdown {
      margin-top: 0;
    }
  }

  .logo {
    max-width: 40px;
    width: 100%;
  }

  ul {
    position: fixed;
    top: $paradeiser-height;
    left: 0;
    z-index: 998;
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: $paradeiser-dropdown-background;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.4s;
    }
    li {
      display: inline-block;
      width: 100%;
      text-align: center;
      a {
        display: inline-block;
        padding: 15px 0;
        width: 100%;
        color: #fff;
        font-size: 15px;
      }
      a, span {
        &:hover {
          background: lighten($paradeiser-dropdown-background, 5%);
        }
      }
    }
  }
}

#paradeiser-greybox {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 120%;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;

  backdrop-filter: blur(10px) saturate(100%);
  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s;
    pointer-events: auto;
  }
}
