$paradeiser-background: #fcfcfc;
$paradeiser-link-color: #9b9b9b;
$paradeiser-link-color-active: #d2ebff;
$paradeiser-link-font-size: 10px;
$paradeiser-dropdown-background: #4a4a4a;
$paradeiser-visible-until: 768px;
$paradeiser-height: 50px;
$paradeiser-font-family: 'Roboto', sans-serif;