$paradeiser-background: #fcfcfc;
$paradeiser-link-color: #9b9b9b;
$paradeiser-link-color-active: #d2ebff;
$paradeiser-link-font-size: 10px;
$paradeiser-dropdown-background: #4a4a4a;
$paradeiser-visible-until: 768px;
$paradeiser-height: 50px;
$paradeiser-font-family: 'Roboto', sans-serif;

.paradeiser {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: $paradeiser-height;
  background: $paradeiser-background;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.02), 0 2px 10px 0 rgba(0,0,0,0.10);

  @media (max-width: $paradeiser-visible-until) {
    display: flex;
  }

  a, > span {
    font-family: $paradeiser-font-family;
    font-size: $paradeiser-link-font-size;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: $paradeiser-link-color;
    align-items: center;
    justify-content: center;
    flex-grow: 5;
    font-weight: 300;

    &.active, &:hover {
      background: $paradeiser-link-color-active;
    }
  }

  .paradeiser_icon_canvas {
    display: block;
    display: flex;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      width: 100%;
      max-width: 20px;
      height: auto;
      margin: 0 auto;
    }
  }

  span {
    margin-top: 3px;
  }

  .logo {
    width: 100%;
    max-width: 40px;
  }

  ul {
    position: fixed;
    top: $paradeiser-height;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background: $paradeiser-dropdown-background;
    &.visible {
      display: block;
    }
    li {
      display: inline-block;
      width: 100%;
      text-align: center;
      a {
        font-size: 15px;
        display: inline-block;
        width: 100%;
        padding: 15px 0;
        color: #fff;
      }
    }
  }
}

#paradeiser-greybox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: rgba(0,0,0,0.8);
  display: none;
  &.visible {
    display: block;
  }
}
